[submodule "ft-analytics"]
	path = ft-analytics
	url = https://github.com/tikalk/ft-analytics
[submodule "ft-device-manager"]
	path = ft-device-manager
	url = https://github.com/tikalk/ft-device-manager
[submodule "ft-geocoder-facade"]
	path = ft-geocoder-facade
	url = https://github.com/tikalk/ft-geocoder-facade
[submodule "ft-gps-firehose"]
	path = ft-gps-firehose
	url = https://github.com/tikalk/ft-gps-firehose
[submodule "ft-gps-service"]
	path = ft-gps-service
	url = https://github.com/tikalk/ft-gps-service
[submodule "ft-management"]
	path = ft-management
	url = https://github.com/tikalk/ft-management
[submodule "ft-notifications"]
	path = ft-notifications
	url = https://github.com/tikalk/ft-notifications
[submodule "ft-segments-service"]
	path = ft-segments-service
	url = https://github.com/tikalk/ft-segments-service
[submodule "ft-gps-tracker-ui"]
	path = ft-gps-tracker-ui
	url = https://github.com/tikalk/ft-gps-tracker-ui
